body {
    width: 100vw;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Silkscreen', sans-serif;
}
main {
  width: 100%;
}

header {
    width: 100%;
    height: 20%;
    /* display: flex; */
    /* flex-direction: column; */
    
    
  
}
  
  
  
.textecolor {
   color: rgb(214, 209, 209);
}


.cowork{
  width: 100%;
  height: 700px;
  display: flex;
  text-align: center;
  background-color: rgb(216, 243, 220) ;;
  padding-top: 20px;
 
}




.cowork h1{
  margin: 0;
 
 
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.right{
  width: 40%;
  background-image: url(../assets/image/cowork_img.jpg);
  background-size: cover;
  background-position: -200px;
}



.HeaderBot {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    border: solid 1px rgb(235, 231, 231)
  
  
  
  
  }
  
.HeaderBotLeft {
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    border-right: solid 1px rgb(235, 231, 231);
  
  }
  
.HeaderBotCenter {
    height: 100%;
    width:60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight:500;
    
    /* background-color: cadetblue; */
  
  
}
  
.HeaderBotCenter a{
    text-decoration: none;
    
  
  
}
  
.HeaderBotCenter a:hover{
   text-decoration: underline black 3px;
    
  
  
  }
.headerBotRight {
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    border-left: solid 1px rgb(235, 231, 231);
    font-weight: 500;
       
    justify-content: center;
    
    
  }

.banniere {
    width: 100%;
    height: 400px;
    background-image: url(../assets/image/cowork.jpg);
    background-repeat: no-repeat;
    background-position: 0px;
}


.maps {
    width: 100%;
    height: 500px;
    margin-bottom: -30px;
    display: flex;
    
  }
  
  .mapsLeft{
    width: 70%;
  }
  .mapsRight{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 30%;
    color: whitesmoke;
    font-size: 15px;
    background-color: rgb(45, 106, 79);
    padding-right: 40px;
  }
  .mapsRight h1{
    font-size: calc(1.2rem + 1.5vw);
    color: 00296B;
    
  }
  
  
  .position {
    display: flex;
    gap: 5px;
    
  }
  .phone {
    display: flex;
    gap: 5px;
    
  }
  
  .mail {
    display: flex;
    gap: 5px;
  }
  
  
  
  
  /*FOOTER*/
  .footer {
     
    width: 100%;
    height: 300px;
    background-color: rgb(183, 228, 199);
    gap: 20px;
    margin-top: 30px;
   
  }
  
  
  .social {
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(149, 213, 178);
    gap: 150px;
  }
  
  .facebook,
  .X,
  .instagram,
  .linkedin
   {
    display: flex;
    gap: 10px;
    color: whitesmoke;
    padding: 10px 30px;
  }
  
  
  
  .molengeeklogo {
    display: flex;
    
    background-size: cover;
    height: 70%;
    width: 50%;
    
  }
  
  
  .positionlogofooter {
    background-color: rgb(183, 228, 199);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 230px;
    
    justify-content: end;
    align-items: center;
    
  }
  .positionlogofooter p{
   color: whitesmoke;
    
  }
  
  .copyright {
    color: gray !important;
    font-size: smaller;
  }
  

  /*FOOTER*/

    
